* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: whitesmoke;
}

.ul-platform {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: whitesmoke;
    height: 80px;
    position: fixed;
    top: 0;
    border-bottom: 0.5px solid lightgray;
    padding: 5px;
}
ul {
    list-style-type: none;
}
.ul-upper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.ul-lower {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.logo {
    width: 30px;
    height: 30px;
 
    padding-right: 30px;
}
.logo-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.header {
    color: blue;
    padding: 0 30px;
}
li {
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.back-event {
    width: 30px;
    height: 30px;
    animation: back 0.3s linear infinite;
    opacity: 0;
}
.backbtn {
    width: 100%;
    height: 100%;
}
@keyframes back {
    from {opacity: 0}
    to {opacity: 1.0}
}

.main {
    margin: 90px 0;
    width: 100%;
}

.active {
    color: red;
}

.post-header {
    width: 100%;
    background: white;
    padding: 10px;
    text-align: center;
    height: 30px;
}


.blog-post-cover {
    width: 100%;
    margin: 50px 0 30px 0;
    border-top: 0.3px solid lightgray;
}
.posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 250px;
    background: white;
    margin: 20px 0;
    padding: 10px;
}
.post-announcement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 320px;
    background: white;
    margin: 20px 0;
    padding: 10px;
}

.posts-event {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background: white;
    margin: 20px 0;
    padding: 10px;
}
.post-head {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 30px;
}
.post-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    height: 140px;
}
.post-section-announcement {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    height: 170px;
}
.post-section-event {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    height: 70px;
}
.blog-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 30px;
}
.blog-footer-announcement {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 30px;
}

.post-line {
    width: 100%;
    border-top: 0.5px solid lightgray;
    margin: 20px 0;
}

@media only screen and (min-width: 600px){
    .main {
        width: 60%;
        margin: 100px auto;
    }
    .posts {
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
    }
    li {
        color: black;
        font-weight: bold;
        font-size: 17px;
    }

}